body {
    padding-left: 15px;
    background-color: lightblue;
}

h1 a, h2 a {
    color: #C25100;
    font-family: 'Monaco', sans-serif;
}
div.all_posts {
    padding-top: 10%;
    padding-right: 30%;
    padding-left: 15%;
    max-width: 70%;
   
}

h2.post_heading {
    padding-top: 10%;
}

#admin_link {
    position: absolute;
    right: 10%;
    top: 5%;
}
#title_heading {
    position: absolute;
    top: 5%;
}